
<section class="mt-3">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary"> 
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis soluta maiores sit, excepturi ratione nemo? Error nihil repellat a vel ducimus quis assumenda id ea eligendi doloremque quaerat ad fugiat porro, eos corporis eum libero iste deleniti, sit esse saepe enim praesentium! Totam, itaque quae quaerat nemo qui quam nulla, beatae aliquam iste repudiandae explicabo obcaecati? Numquam, officia. Obcaecati amet iure corporis dolor corrupti ratione sunt odit veritatis fugiat cumque libero dignissimos dolorem, debitis ducimus repellendus veniam laudantium vel architecto totam exercitationem adipisci. Illo nostrum, at eos aliquid dolorem nisi eligendi voluptatem fugiat architecto, porro reprehenderit, laudantium libero sint. Quia?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis soluta maiores sit, excepturi ratione nemo? Error nihil repellat a vel ducimus quis assumenda id ea eligendi doloremque quaerat ad fugiat porro, eos corporis eum libero iste deleniti, sit esse saepe enim praesentium! Totam, itaque quae quaerat nemo qui quam nulla, beatae aliquam iste repudiandae explicabo obcaecati? Numquam, officia. Obcaecati amet iure corporis dolor corrupti ratione sunt odit veritatis fugiat cumque libero dignissimos dolorem, debitis ducimus repellendus veniam laudantium vel architecto totam exercitationem adipisci. Illo nostrum, at eos aliquid dolorem nisi eligendi voluptatem fugiat architecto, porro reprehenderit, laudantium libero sint. Quia?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis soluta maiores sit, excepturi ratione nemo? Error nihil repellat a vel ducimus quis assumenda id ea eligendi doloremque quaerat ad fugiat porro, eos corporis eum libero iste deleniti, sit esse saepe enim praesentium! Totam, itaque quae quaerat nemo qui quam nulla, beatae aliquam iste repudiandae explicabo obcaecati? Numquam, officia. Obcaecati amet iure corporis dolor corrupti ratione sunt odit veritatis fugiat cumque libero dignissimos dolorem, debitis ducimus repellendus veniam laudantium vel architecto totam exercitationem adipisci. Illo nostrum, at eos aliquid dolorem nisi eligendi voluptatem fugiat architecto, porro reprehenderit, laudantium libero sint. Quia?</p>
           
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>

</section>
