/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Nosifer&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --primary-color:#026467;
    --secondary-color:#E5F5EA;
    --body-text-color:#596392;
    --navbar-footer-color:#F9F9F9;
}

body{
    font-family: "Fira Code", serif;
    font-size: 12px;
    color: var(--body-text-color);
}
.site-logo{
    padding:5px 20px;
    border-radius: 20px;
    background-color:var(--secondary-color) ;
    color: var(--primary-color);
}